<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="home" ng-click="$ctrl.closeSideNav()">
        Home
    </a>
</div>
<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="papers" ng-click="$ctrl.closeSideNav()">
        Papers
    </a>
</div>
<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="teaching-resources" ng-click="$ctrl.closeSideNav()">
        Teaching Resources
    </a>
</div>
<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="submissions" ng-click="$ctrl.closeSideNav()">
        Submissions
    </a>
</div>
<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="about" ng-click="$ctrl.closeSideNav()">
        About
    </a>
</div>
<div class="side-nav-item">
    <a class="color-orange text-decoration-none" ui-sref="contact" ng-click="$ctrl.closeSideNav()">
        Contact
    </a>
</div>