.about-main-image {
    background-image: url('https://static1.squarespace.com/static/588df0b01b631b0e7cf8f3a8/588e884ebebafb213264c1be/588e8a2de58c62276f7151e3/1485736517473/pexels-photo-296881.jpeg?format=1500w');
    max-height: 300px;
    min-height: 300px;
}