#articleBody > div {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    min-width: 0;
    word-break: break-word;
    box-sizing: border-box;
}