<section class="md-padding md-margin layout-row layout-wrap layout-align-center">
    <div class="layout-max-width layout-column flex">
        <md-progress-circular ng-show="!$ctrl.article.body"></md-progress-circular>
        <div ng-if="$ctrl.userIsAdmin()" class="layout-row full-width">
            <i class="material-icons icon-md color-orange cursor-pointer"
            ng-click="$ctrl.editArticle()">edit</i>
        </div>
        <div id="articleBody" ng-show="$ctrl.article.body" markdown-to-html="$ctrl.article.body"
        class="layout-row"></div>
    </div>
</section>