.md-padding-half {
    padding: 8px;
}

.md-padding-left-half {
    padding-left: 8px;
}

.md-padding-right-half {
    padding-right: 8px;
}

.md-padding-top-half {
    padding-top: 8px;
}

.md-padding-bottom-half {
    padding-bottom: 8px;
}

.md-margin-half {
    margin: 8px;
}

.md-margin-left-half {
    margin-left: 8px;
}

.md-margin-right-half {
    margin-right: 8px;
}

.md-margin-top-half {
    margin-top: 8px;
}

.md-margin-bottom-half {
    margin-bottom: 8px;
}