.padding-top-0 {
    padding-top: 0;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}

.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-left-0 {
    margin-left: 0;
}
.margin-right-0 {
    margin-right: 0;
}

.margin-top {
    margin-top: 16px;
}

.md-padding-top {
    padding-top: 16px;
}

.md-padding-bottom {
    padding-bottom: 16px;
}

.md-padding-left {
    padding-left: 16px;
}

.md-padding-right {
    padding-right: 16px;
}

.md-padding-half {
    padding: 8px;
}

.md-padding-left-half {
    padding-left: 8px;
}

.md-padding-right-half {
    padding-right: 8px;
}

.md-padding-top-half {
    padding-top: 8px;
}

.md-padding-bottom-half {
    padding-bottom: 8px;
}

.md-margin-half {
    margin: 8px;
}

.md-margin-left {
    margin-left: 16px;
}

.md-margin-right {
    margin-right: 16px;
}

.md-margin-top {
    margin-top: 16px;
}

.md-margin-bottom {
    margin-bottom: 16px;
}

.md-margin-left-half {
    margin-left: 8px;
}

.md-margin-right-half {
    margin-right: 8px;
}

.md-margin-top-half {
    margin-top: 8px;
}

.md-margin-bottom-half {
    margin-bottom: 8px;
}