@import 'colors';

.arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #3D2D48;
}
.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 50%;
    box-sizing: border-box;
}
.arrow:before {
    right: 50%;
    border-bottom: 20px solid #3D2D48;
    border-right: 20px solid transparent;
}
.arrow:after {
    left: 50%;
    border-bottom: 20px solid #3D2D48;
    border-left: 20px solid transparent;
}
