@import 'reset';
@import 'colors';
@import 'position';
@import 'padding-margin';
@import 'borders';

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.display-block {
    display: block;
}

.bg-size-cover {
    background-size: cover;
}

.bg-size-contain {
    background-size: contain;
}

.bg-position-center {
    background-position: center;
}

.min-height-80 {
    min-height: 80%;
}