@import 'reset';
@import 'colors';
@import 'position';
@import 'padding-margin';

body {
    background-color: $light-gray;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.display-block {
    display: block;
}

.text-align-center {
    text-align: center;
}

.line-height-1-5 {
    line-height: 1.5;
}