@import 'reset';

@import 'borders';
@import 'colors';
@import 'icon-sizes';
@import 'padding-margin';
@import 'position';

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.layout-max-width {
    max-width: 1000px;
}

.display-block {
    display: block;
}

.bg-size-cover {
    background-size: cover;
}

.bg-size-contain {
    background-size: contain;
}

.bg-position-center {
    background-position: center;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.min-height-80 {
    min-height: 80%;
}

.cursor-pointer {
    cursor: pointer;
}

.float-left {
    float: left;
}

.flex-none {
    flex: none;
}