body {
    font-family: 'EB Garamond', serif;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display SC', serif;
}

.font-family-garamond {
    font-family: 'EB Garamond', serif;
}

.font-family-playfair {
    font-family: 'Playfair Display', serif !important;
}

.font-family-playfair-sc {
    font-family: 'Playfair Display SC', serif !important;
}

.line-height-3 {
    line-height: 3rem;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-decoration-none {
    text-decoration: none;
}

.md-button {
    font-family: 'Playfair Display SC', serif !important;
}

.italic {
    font-style: italic;
}