.home-link-image {
    max-height: 300px;
}

.home-section-padding {
    padding-top: 50px;
}

.home-hero {
    background-image: url('../../img/home-hero.jpg');
    min-height: 440px;
}

.home-hero-xs {
    background-image: url('../../img/home-hero.jpg');
    min-height: 300px;
}

.home-section-1 {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.home-section-1:before {
    content: " ";
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(left center, ellipse cover, RGBA(22, 64, 0, 0.2) 0%,rgba(0,0,0,0.8) 100%), url('../../img/book-grass.jpg') center/cover no-repeat;
}

.home-section-1-sm {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.home-section-1-sm:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(center center, ellipse cover, RGBA(22, 64, 0, 0.6) 0%,rgba(0,0,0,0.8) 100%), url('../../img/book-grass.jpg') center/cover no-repeat;
}

.home-section-2 {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.home-section-2:before {
    content: " ";
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 55%;
    background: -webkit-radial-gradient(left center, ellipse cover, RGBA(0, 0, 0, 0.2) 0%,rgba(0,0,0,0.8) 100%), url('../../img/glasses.jpg') center/cover no-repeat;
}

.home-section-2-sm {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.home-section-2-sm:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(center center, ellipse cover, RGBA(0, 0, 0, 0.6) 0%,rgba(0,0,0,0.8) 100%), url('../../img/glasses.jpg') center/cover no-repeat;
}



.z-index-1 {
    z-index: 1;
}