<section class="layout-row full-width home-section-padding layout-align-center-center">
    <div class="flex-15"></div>
    <div class="flex-70 md-display-1 line-height-1-5 text-align-center">
        Promoting the realization of human rights through research, education, and collaboration.
    </div>
    <div class="flex-15"></div>
</section>

<section class="layout-row full-width home-section-padding layout-align-center-center">
    <div class="flex-20"></div>
    <div class="flex-60 md-headline text-align-center" ng-bind="::$ctrl.bodyCopy.missionStatement">
    </div>
    <div class="flex-20"></div>
</section>


<section class="layout-row md-padding" ng-if="$ctrl.$mdMedia('sm')">

    <md-card class="flex-50">
        <img class="md-card-image home-link-image"
        ng-src="https://static1.squarespace.com/static/588df0b01b631b0e7cf8f3a8/t/589158efa5790a492c80a298/1485920747968/tumblr_mn8b8sLRb61rkz363o1_1280.jpg?format=1000w">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">About</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Find out more about the mission and progress of the Human Rights Realization Community.</p>
        </md-card-content>
        <md-card-actions class="layout-row layout-align-end-center">
            <md-button class="color-orange">Learn More</md-button>
        </md-card-actions>
    </md-card>

    <md-card class="flex-50">
        <img class="md-card-image home-link-image"
        ng-src="https://static1.squarespace.com/static/588df0b01b631b0e7cf8f3a8/t/589158b2725e254763917463/1485920473183/?format=1000w">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Take Action</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Ready to take the next step? We welcome your donations and contributions to the Human Rights Realization Community.</p>
        </md-card-content>
        <md-card-actions class="layout-row layout-align-end-center">
            <md-button class="color-orange">Learn More</md-button>
        </md-card-actions>
    </md-card>

</section>

<section ng-if="!$ctrl.$mdMedia('sm')"
class="layout-xs-column layout-row full-width home-section-padding md-padding layout-align-center">

    <md-card class="flex-gt-sm-35">
        <img class="md-card-image home-link-image"
        ng-src="https://static1.squarespace.com/static/588df0b01b631b0e7cf8f3a8/t/589158efa5790a492c80a298/1485920747968/tumblr_mn8b8sLRb61rkz363o1_1280.jpg?format=1000w">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">About</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Find out more about the mission and progress of the Human Rights Realization Community.</p>
        </md-card-content>
        <md-card-actions class="layout-row layout-align-end-center">
            <md-button class="color-orange">Learn More</md-button>
        </md-card-actions>
    </md-card>

    <md-card class="flex-gt-sm-35 flex-offset-gt-sm-5">
        <img class="md-card-image home-link-image"
        ng-src="https://static1.squarespace.com/static/588df0b01b631b0e7cf8f3a8/t/589158b2725e254763917463/1485920473183/?format=1000w">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Take Action</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Ready to take the next step? We welcome your donations and contributions to the Human Rights Realization Community.</p>
        </md-card-content>
        <md-card-actions class="layout-row layout-align-end-center">
            <md-button class="color-orange">Learn More</md-button>
        </md-card-actions>
    </md-card>

</section>