.home-link-image {
    max-height: 300px;
}

.home-section-padding {
    padding-top: 50px;
}

.home-hero {
    background-image: url('../../img/home-hero.jpg');
    min-height: 300px;
}

.home-hero-xs {
    background-image: url('../../img/home-hero.jpg');
    min-height: 200px;
}