@import 'arrow-cut-out-side';

.home-link-image {
    max-height: 300px;
}

.home-section-padding {
    padding-top: 50px;
}

.home-hero {
    background-image: url('../../img/home-hero.jpg');
    min-height: 350px;
}

.home-hero-xs {
    background-image: url('../../img/home-hero.jpg');
    min-height: 200px;
}

.home-section-1 {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.home-section-1:before {
    content: " ";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(left center, ellipse cover, RGBA(22, 64, 0, 0.2) 0%,rgba(0,0,0,0.8) 100%), url('../../img/book-grass.jpg') center/cover no-repeat;
}

.z-index-1 {
    z-index: 1;
}