<div ng-class="{'md-padding': appCtrl.$mdMedia('xs')}">
    <section class="layout-row full-width home-section-padding layout-align-center">
        <div class="layout-column flex-xs-90 flex-gt-xs-70 font-family-playfair"
        ng-class="{'md-display-1 text-align-center': !$ctrl.$mdMedia('xs'),
        'md-headline': $ctrl.$mdMedia('xs')}">
            We believe that human rights should be the cornerstone of a student’s education.
        </div>
    </section>

    <section class="layout-row full-width home-section-padding layout-align-center">
        <div class="layout-column flex-xs-90 flex-gt-xs-70">
            <div class="text-align-justify" ng-bind="::$ctrl.bodyCopy.missionStatement"
            ng-class="{'md-headline': !$ctrl.$mdMedia('xs'), 'md-subhead': $ctrl.$mdMedia('xs')}"></div>
        </div>
    </section>


    <section class="layout-row md-padding home-section-padding" ng-if="$ctrl.$mdMedia('sm')">

        <md-card class="flex-50">
            <img class="md-card-image home-link-image"
            ng-src="http://placehold.it/350x250">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline font-family-playfair-sc">About</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Find out more about the mission and progress of the Human Rights Realization Community.</p>
            </md-card-content>
            <md-card-actions class="layout-row layout-align-end-center">
                <md-button class="color-orange" ui-sref="about">Learn More</md-button>
            </md-card-actions>
        </md-card>

        <md-card class="flex-50">
            <img class="md-card-image home-link-image"
            ng-src="http://placehold.it/350x250">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline font-family-playfair-sc">Take Action</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Ready to take the next step? We welcome your donations and contributions to the Human Rights Realization Community.</p>
            </md-card-content>
            <md-card-actions class="layout-row layout-align-end-center">
                <md-button class="color-orange">Find Out How</md-button>
            </md-card-actions>
        </md-card>

    </section>

    <section ng-if="!$ctrl.$mdMedia('sm')"
    class="layout-xs-column layout-row full-width home-section-padding md-padding layout-align-center">

        <md-card class="flex-gt-sm-35">
            <img class="md-card-image home-link-image"
            ng-src="http://placehold.it/350x250">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline font-family-playfair-sc">About</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Find out more about the mission and progress of the Human Rights Realization Community.</p>
            </md-card-content>
            <md-card-actions class="layout-row layout-align-end-center">
                <md-button class="color-orange" ui-sref="about">Learn More</md-button>
            </md-card-actions>
        </md-card>

        <md-card class="flex-gt-sm-35 flex-offset-gt-sm-5">
            <img class="md-card-image home-link-image"
            ng-src="http://placehold.it/350x250">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline font-family-playfair-sc">Take Action</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Ready to take the next step? We welcome your donations and contributions to the Human Rights Realization Community.</p>
            </md-card-content>
            <md-card-actions class="layout-row layout-align-end-center">
                <md-button class="color-orange">Find Out How</md-button>
            </md-card-actions>
        </md-card>

    </section>
</div>